{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <nav>

    </nav>
    <div class="container">
        <h1>{% block h1 %}Cogip website{% endblock h1 %}</h1>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock body %}
