{% extends 'AppBundle::layout.html.twig' %}

{% block h1 %}Cogip product list{% endblock h1 %}

{% block content %}
    <p>Our products</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td><a href="{{ path('product_show', {'product': product.slug}) }}"><i class="fa fa-search"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
