{% extends 'AppBundle::layout.html.twig' %}

{% block h1 %}Cogip homepage{% endblock h1 %}

{% block content %}
    <p>Welcome to the homepage</p>
    <a href="{{ path('product_list') }}">Access our products list</a>
{% endblock %}
